li {
    font-size: 25px;
    font-weight: bold;
}

.title {
    font-size: 60px;
    color: Tomato;;
    text-align: center;
}


.main {
    height: 400px;
    width: auto;
}

.img {
    text-align: center;
    display: block;
}


.ingredients-container {
    background-color:rgba(120, 255, 86, 0.2);
}

.directions-container {
    background-color: rgba(255, 99, 71, 0.4);
}
.Nutrition-container {
    background-color: rgba(106, 61, 133, 0.2);
}
